<ol class="breadcrumb">
  <li><a href="/trips">My Trips</a></li>
  <li><a href="/users/<%= @user.id%>">My Profile</a></li>
  <li class="active">Edit Profile</li>
</ol>

<div class="edit_profile">

	<h3>Editing Profile</h3>

	<%= render 'form' %>


</div>
