// Place all the styles related to the invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.invitation_list {
	width: auto;
	position: absolute;
	top: 10%;
	left: 23%;
}

span.glyphicon-pencil {
	font-size: 2em;
}

form {
	background-color: white;
}