// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form.trip_search {
	position: absolute;
  top: 20%;
	left: 55%;
}

.trip_form {
	position: absolute;
  	top: 15%;
	left: 2%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    padding:12px; 
    border-bottom:1px solid #eee;
}
input{
  display: inline-block;
  float: right;
}
.trip_list {
	position: absolute;
  top: 72%;
	left: 20%;
	background-color: white;
}
