
form.trip_search {
	position: absolute;
  top: 10%;
	left: 55%;
}

.trip_form {
	position: absolute;
  top: 15%;
	left: 2%;
}

.trip_list {
	position: absolute;
  top: 72%;
	left: 20%;
	background-color: white;
}

