// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user_signup {
	width: 170px;
	position: absolute;
	top: 30%;
	left: 40%;
}

div.user_profile {
	width: 170px;
	position: absolute;
	top: 20%;
	left: 40%;
}

div.edit_profile {
	width: 170px;
	position: absolute;
	top: 20%;
	left: 40%;
}
